doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Sign in
        link(rel="stylesheet", href="/stylesheets/SignIn.css")
        link(rel="icon", href="favion.ico")
        script(type="text/javascript", src="/javascripts/jquery.js", charset="UTF-8")
    body
        h1 Log In
        #form_box
            #logo
            form(action="/signin", method="post")
                .inputcontainer
                    input(type="text", name="Username", placeholder="用户名")
                    span#UsernameError.error #{error.Username}
                .inputcontainer
                    input(type="password", name="Password", placeholder="密码")
                    span#PasswordError.error #{error.Password}
                button.signin(type="submit") 登录
            form.up(method="GET" action="/regist")
                button.signup(type="submit") 没有账号？点此注册
div.panel.panel-primary
    div.panel-body
        div.row
            div.col-md-12.col-md-offset-4
                h2 博客登录
        div.row
            div.col-md-12.col-md-offset-1
                form.form-horizontal(role="form" name="signinForm" ng-submit="submit()" ng-controller="SigninCtrl")
                    div.form-group
                        label.col-md-2.control-label(for="username") 用户名
                        div.col-md-10
                            input.col-md-5(type="text" name="username" id="username" ng-model="user.username" required)
                            span(ng-show="signinForm.username.$dirty && signinForm.username.$error.required") 必填项，
                            span(ng-show="!validInfo.isUsernameExist") 用户名不存在
                    div.form-group
                        label.col-md-2.control-label(for="password") 密码
                        div.col-md-10
                            input.col-md-5(type="password" name="password" id="password" ng-model="user.password" required)
                            span(ng-show="signinForm.password.$dirty && signinForm.password.$error.required") 必填项
                            span(ng-show="!validInfo.isPasswordRight") 密码错误
                    div.form-group
                        div.col-md-offset-2.col-md-12
                            button.btn.btn-success.btn-lg(type="submit" ng-disabled="!signinForm.$valid") 登录
                            a.btn.btn-default.btn-lg(ui-sref="index.signup") 注册